h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-bottom: 5px;
}

.bookname{
    font-size: 2rem;
    color: black;
}
img {
    margin:auto auto;
    width:100%;
}
hr{
    border-color: black;
    border-top: dotted 1px;
}



a:hover:not(.active) {
    color: orange;
}

.display_books {
    color: black;
    display: block;
    width: 100%;
    border-radius: 5px;
    list-style: none;
    margin-top: 15px;
}

/*TABLE*/

.inventory-table {
    margin-top: 15px;
}


/*FOOTER*/

.main-footer {
 margin-top: 10%;
 position: relative;
 bottom: 0;
}