h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-bottom: 5px;
}

h1 {
    font-size: 5rem;
}
#homeTitle {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    font-size: 2rem;
}

#h4 {
    font-size: 1.75rem;
    margin-bottom: 0.25rem;
}

#h3 {
    font-size: 2.5rem;

}
.button {
    background: #a06c00;
}

.navigation {
    background: white;
}
.naviga {
    font-size: 1.75rem;
}
.bookname{
    font-size: 2rem;
    color: black;
    font-weight:bold;
}
img {
    margin:auto auto;
    width:100%;
}
hr{
    border-color: black;
    border-top: dotted 1px;
}

a:hover:not(.active) {
    color: orange;
}

.display_books {
    color: black;
    display: block;
    width: 100%;
    list-style: none;
    margin-top: 25px;
}

#book {
    margin-top: 15px;
    margin-bottom: 15px;
}

/*USER PROFILE*/

#profileImage {
    height: 150px;
    width: 195px;
    margin-bottom: 10px;
}

#userImage {
    width: 100%;
    height: 100%;
}

/*Purchase Page*/

#purchaseItems {
    margin-top: 15px;
}

/*Payment Information Page*/

.cardDetail {
    display: inline;
    margin: 5px;
}

/*FOOTER*/

.main-footer {
 margin-top: 10%;   
}