<div class="row">
    <div class="col-md-4 col-md-offset-4">
            <form action="/addBook" method="post">
                <div class="form-group">
                    <label>Book</label></br/>
                    <select name="isbn">
                    {{#each books}}
                    <option value={{this.isbn}}>{{this.name}}</option>
                    {{/each}}
                    </select> 
                <div class="form-group">
                    <label>Condition</label></br/>
                    <select name="condition">
                    {{#select condition}}
                    <option value="new">New</option>
                    <option value="like-new">Like New</option>
                    <option value="very-good">Very Good</option>
                    <option value="good">Good</option>
                    <option value="acceptable">Acceptable</option>
                    <option value="poor">Poor</option>
                    {{/select}}
                    </select> 
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="number" class="form-control" name="price" value={{price}}>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Add Book</button>
            </form>
        {{#if error}}
        {{error}}
        {{/if}}
    </div>
</div>
