<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <article class="login">
            <form id="register" action="/login">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" name="password">
                </div>
                <div class="form-group">
                    <label for="passwordConfirmation">Confirm Password</label>
                    <input type="password" id="passwordConfirmation" class="form-control" name="passwordConfirmation">
                </div>
                <button type="submit" id="signupButton" class="btn btn-primary btn-lg">SignUp</button>
            </form>
        </article>
        {{#if error}}
        {{error}}
        {{/if}}
    </div>
</div>