<article class="search">
    <form method="post">
        <h3>Search for a book</h3>
        <fieldset>
            <label for="Course" class="labelitem">Course:</label>
              <select name="Course" id="Course" required>
                <option value="" selected disabled>Choose a Course</option>
                {{#each courses}}
                    <option value="course">{{this.courseName}}</option>
                {{/each}}
              </select><br /> 
        </fieldset>
        <button type="submit" class="btn btn-warning btn-lg">search</button>
    </form>
</article>  