<article class="search">
    <form method="post">
        <h3>Search for a book</h3>
        <fieldset>
            <label for="Course" class="labelitem">Course:</label>
              <select name="Course" id="Course" required>
                <option value="" selected disabled>Choose a Course</option>
                {{#each courses}}
                    <option value={{this._id}}>{{this.courseName}}</option>
                {{/each}}
              </select><br /> 
        </fieldset>
        <button type="submit" class="btn btn-warning btn-lg">search</button>
    </form>
    {{#if this.books}}
    <table class="table">
        <tr>
            <th>Book Title</th>
            <th>Book Author</th>
        </tr>
        {{#each this.books}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.author}}</td>
        </tr>
        {{/each}}
    </table>
    {{/if}}
</article>  